@{
    ViewData["Title"] = "About Page";
}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

     </head>
<body style="height:110vh; color:white" class="bg-dark">
    <div>
        <center style=" margin-bottom: 40px;">

            <asp:Label ID="lblMessage" runat="server" Text="Hello World" CssClass="my-class" />
            <img src="~/images/jul.jpg" width="20%" style="border-radius:50%" alt="julia">
            <h3 class="display-4">Julia Melle Pascua</h3>
            <p style="font-size: medium;">Information Technology Student</p>
            <p style="font-size: medium; ">Contact Number: +639-915-703-9061</p>
            <p style="font-size: medium;">Email: juliamelle.pascua.cics@ust.edu.ph</p>
            <p style="font-size: medium; ">2023</p>
            <a href="https://github.com/JuliaMelle" style="text-decoration:none">
                <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-warning" type="button">GITHUB</button>


                </div>
            </a>
        </center>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>